    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About me</h2>
              <br/>
                <p>I am a mobile developer, specializing in Android and Xamarin development. Other than mobile, I have experience with back end and front end web development.
                    I graduated with computer science degree from Utah State University in 2016. Since 2014, I have been working in the industry, when I started working as a software technician writing automated UI tests for mobile devices.
                    While still attending university, I took a competitive internship at a business accounting software company, where I worked on back end technology to generate investmet reports.
                    After graduating with my bachelor degree, I have been working on a 500k+ downloaded fitness tracking Android and iOS app using Xamarin.
                    I currently live in Chicago, IL. In my free time, I like to cook and play PC games. I am interested in cars and currently drive a 2017 VW GTI.</p>
                <br/>
              </div>
        </div>
    </section>
